@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Lato&family=Montserrat:wght@600&family=Sedgwick+Ave&family=Space+Grotesk:wght@300&display=swap');
body{
    background-image: url(../IMAGENES/puertalanding.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    opacity: inherit;
}
h1{
    font-family: 'Kosugi Maru', sans-serif;
    font-weight: normal;
    font-size: 130px;
    color: white;
    position: absolute;
    top: 45%;
    left: 15%;
    animation: colorChange2 6s linear infinite;
    animation-delay: 3s;
}
@media screen and (max-width: 768px) {
    h1 {
      font-size: 10vw;
      top: 0%;
      left: 8%;
    }
}

@media (max-width: 480px) {
    h1 {
      font-size: 12vw;
      top: 20%;
      left: 5%;
    }
}

span{
    color: red;
    animation: colorChange 6s linear infinite;
    animation-delay: 2s;
}
@keyframes colorChange {
    0% {
        color: red; 
    }
    50%{
        color: white; 
    }
    100%{
        color: red;
    }
}
@keyframes colorChange2 {
    0% {
        color: white; 
    }
    50%{
        color: red;
    }
    100%{
        color: white;
    }
}

h2{
    font-family: 'Kosugi Maru', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 2%;
    left: 2%;
    cursor: pointer;
}
 h2:hover {
    transition: 0.3s ease;
    font-size: 2.5rem;
    color: #670E0E;
}
@media screen and (max-width: 768px) {
    h2 {
      font-size: 4vw;
    }
}

@media (max-width: 480px) {
    h2 {
      font-size: 5vw;
    }
}

.h3{
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 62%;
    left: 19%;

}
@media screen and (max-width: 768px) {
    .h3 {
      font-size: 3vw;
      top: 0%;
      left: 18%;
    }
}
  
@media (max-width: 480px) {
    .h3 {
      font-size: 6vw;
    }
}

  
.formulario{
    width: 30%;
    float: right;
    margin: 5%;
    background-color: #670E0E;
    padding: 3%;
    border-radius: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    animation: slideIn2 6s ease;
    animation-iteration-count: 1;
}
@keyframes slideIn2 {
    0% {
        transform: translateX(100%); 
    }
    50% {
        transform: translateX(0); 
    }
}
@media screen and (max-width: 768px) {
    .formulario {
      width: 90%;
    }
}
  
@media (max-width: 480px) {
    .formulario {
      padding: 8%;
    }
}


.contacto-insidious{
    color: white;
    position: absolute;
    top: 90%;
    font-size: 45px;
    margin-right: 10px;
    display: inline-block;
    padding-left: 40px;
}
.contacto-insidious a i {
    font-size: 2rem;
    color: white;
}
  
  .contacto-insidious a i:hover {
    transition: 0.3s ease;
    font-size: 2.5rem;
    color: #670E0E;
}

h4{
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 120px;
    color: white;
    position: absolute;
    top: 40%;
    left: 32%;
}
.text{
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 60%;
    left: 10%;

}
@media (max-width: 768px) {
    h4 {
      font-size: 80px;
    }
  
    .text {
      font-size: 18px;
    }
}
  
@media (max-width: 480px) {
    h4 {
      font-size: 60px;
      top: 48%;
      left: 5%;
    }
  
    .text {
      font-size: 16px;
      top: 50%;
      left: 5%;
    }
}
  
.body-thanks{
    background-image: url(../IMAGENES/puertalanding.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    opacity: inherit;
}


