@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Lato&family=Montserrat:wght@600&family=Sedgwick+Ave&family=Space+Grotesk:wght@300&display=swap');
body{
    background-image: url(../IMAGENES/puertalanding.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    opacity: inherit;
}
h1{
    font-family: 'Kosugi Maru', sans-serif;
    font-weight: normal;
    font-size: 120px;
    color: white;
    position: absolute;
    top: 45%;
    left: 15%;
}
@media screen and (max-width:768px) {  
    h1 {
    padding: 50px 30px;
    width: 100%;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
  @media(max-width:480px) {
    h1{
     padding: 50px 30px;
     width: 100%;
     padding: 2rem 0;
     justify-content: center;
     align-items: center;
     flex-direction: column;
    }
}


span{
    color: red;
}
h2{
    font-family: 'Kosugi Maru', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 2%;
    left: 2%;
}
 h2:hover {
    transition: 0.3s ease;
    font-size: 2.5rem;
    color: #670E0E;
}
.h3{
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 62%;
    left: 19%;

}
.formulario{
    width: 30%;
    float: right;
    margin: 5%;
    background-color: #670E0E;
    padding: 3%;
    border-radius: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
@media screen and (max-width:768px) {  
    .formulario {
      padding: 30px;
  }
  @media(max-width:480px) {
    .formulario{
      padding: 30px;
    }
  }
}
.contacto-insidious{
    color: white;
    position: absolute;
    top: 90%;
    font-size: 45px;
    margin-right: 10px;
    display: inline-block;
    padding-left: 40px;
}
.contacto-insidious a i {
    font-size: 2rem;
    color: white;
}
  
  .contacto-insidious a i:hover {
    transition: 0.3s ease;
    font-size: 2.5rem;
    color: #670E0E;
}

h4{
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 120px;
    color: white;
    position: absolute;
    top: 40%;
    left: 32%;
}
.text{
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 60%;
    left: 10%;

}
.body-thanks{
    background-image: url(../IMAGENES/puertalanding.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    opacity: inherit;
}